.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 20px;
}

.Site-content {
    flex: 1;
}

video {
    margin: 10px;
}

#mask {
    background: white;
    width: auto;
    height: 100%;
}

.blank {
    min-height: 5rem;
}

.unselect {
    user-select: none;
}
body {
    padding: 20px;
    overflow: hidden;
}

.sample {
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    /*border-top: 1px solid lightgray;*/
}

.manual {
    margin-bottom: 20px;
}

.content {
    height: 100vh;
}

.point {
    cursor: pointer;
}

video {
    margin: 10px;
}

#mask {
    background: white;
    width: auto;
    height: 100%;
}
.scroll_ctx {
    height: 100vh;
    overflow-y: overlay;
}

.login-bg {
    background-image: url("../assets/loginBg.png");
    background-size: cover;
}

.img_btn {
     background: url(../assets/btnBg.png);
     background-size: 28rem;
     width: 28rem;
     height: 9.5rem;
     border: none;
     font-size: 3.5rem;
 }

.img_home {
    background: url(../assets/img_Home.png);
    background-size: 16rem;
    width: 16rem;
    height: 16rem;
    border: none;
}